* {
  box-sizing: border-box;
}
.fading{
  width:70%;
  height:1150px;
  margin: 50px auto;
  padding-top: 5px;
  text-align:center;
  border: 5px solid white;
}
.fading .item {
  width: 70%;
  height: 210px;
  margin: 50px auto;
  padding-top: 20px;
  background: url('https://pin.dekhnews.com/wp-content/uploads/2019/09/aesthetic-background-3.jpg');
  background-size:cover;
  text-align: center;
  color: white;
  font-size: 1.5em;
}