.wrapper{
  width:1170px;
  margin:5% auto;
}
.wrapper h2{
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:#fff;
  margin:0;
  margin-top:70px;
}
.single-service{
  position:relative;
  width:31%;
  height:320px;
  background:#fff;
  box-sizing: border-box;
  padding:0 15px;
  transition: .5s;
overflow: hidden;
float:left;
margin:0 10px;
text-align:center;
margin-top:35px;
}
.line{
  width:150px;
  height:3px;
  background:#fff;
  margin:0 auto 60px auto;
}
.single-service p{
  color:#262626;
  font-size: 14px;
}
.single-service h3{
  font-size:25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#262626;
}
.social{
  width:60px;
  height:60px;
  background:#262626;
  border-radius: 50%;
  margin:5% auto;
}
.social i{
  font-size:30px;
  padding: 15px;
  color:#fff;
}
.single-service span{
  position: absolute;
  top:0;
  left:-110%;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
transition: .7s;
transform: skewX(10deg);
}
.single-service:hover span{
  left: 110%;
}
.quotation{
  width:50%;
  background: url('https://th.bing.com/th/id/OIP.h3Jd5jHnmQWCK3NY_RlrNgHaEo?pid=ImgDet&rs=1');
  margin-left:320px;
}
.quotation p{
  margin-top: 80px;
  text-align:center;
  color: white;
  font-weight:bold;
  font-size:30px;
  z-index:4;
}