* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100vh;
background-color: black;
background-image: url('');
background-size: 1200px 600px;
background-position: center;
background-repeat: no-repeat;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin:25px;
  margin-top: 50px;
}
a:hover{
  color: rgb(97, 97, 238);
}
header{
  position: relative;
  padding:0 2rem;
}
.Navbar {
  width:100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
   align-items: center;
}
.Navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 50px;
}
.Navbar .toggle_btn{
  color:white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin:30px;
}
.Navbar .action_btn{
  display:none;
}
.action_btn{
  background-color:orange;
  color:white;
  padding: 0.5rem 1rem;
  border:none;
  outline:none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.Navbar .toggle_btn{
  display: block;
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 40px;
}
.action_btn:hover{
  scale: 1.05;
  color:white;
}
.dropdown{
  position:absolute;
  right: 2rem;
  top: 170px;
  width: 300px;
  height: 0;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2sec cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 4;
}
.dropdown.open{
height: 240px;
}
.dropdown li{
  padding: 0.7rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.dropdown .action_btn{
  width:100%;
  display:flex;
  justify-content: center;
}
.btn1{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
    background-color: rgb(134, 219, 255,0.5);
    border: 2px solid transparent;
  width:120px;
  padding: 12px;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 0 10px rgb(40,203,40,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:0.3s;
  -webkit-transition-property: box-shadow, transfrom;
  transition-property: box-shadow, transform;
  margin-left: 40px;
  margin-top: 40px;
}
.btn1:hover,.btn1:focus,.btn1:active{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
    box-shadow: 0px 0px 20px 10px #3cc6d8;
    background-color: #d7f3ff;
}
.btn2{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
    background-color: rgb(134, 219, 255,0.5);
    border: 2px solid transparent;
  width:150px;
  padding: 10px;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:0.3s;
  -webkit-transition-property: box-shadow, transfrom;
  transition-property: box-shadow, transform;
  margin-left:40px;
  margin-top: 40px;
}
.btn2:hover,.btn2:focus,.btn2:active{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
    box-shadow: 0px 0px 20px 10px #3cc6d8;
    background-color: #d7f3ff;
}
.btn3{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
 
  width:150px;
  padding: 12px;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
    background-color: rgb(134, 219, 255,0.5);
    border: 2px solid transparent;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:0.3s;
  -webkit-transition-property: box-shadow, transfrom;
  transition-property: box-shadow, transform;
  margin-left:60px;
  margin-top: 40px;
}
.btn3:hover,.btn3:focus,.btn3:active{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
    box-shadow: 0px 0px 20px 10px #3cc6d8;
    background-color: #d7f3ff;
}
.btn4{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  
  width: 150px;
  padding: 10px;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
    background-color: rgb(134, 219, 255,0.5);
    border: 2px solid transparent;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:0.3s;
  -webkit-transition-property: box-shadow, transfrom;
  transition-property: box-shadow, transform;
  margin-left:50px;
  margin-top: 40px;
}
.btn4:hover,.btn4:focus,.btn4:active{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 15px #3cc6d8;
    box-shadow: 0px 0px 20px 10px #3cc6d8;
    background-color: #d7f3ff;
}
.dropdown a{
  margin:0 auto;
}
.logo img{
  padding: 30px;
  margin-top:25px;
  height:120px;
  width: 200px;
  margin-left: 0px;
}
.logo img:hover{
  opacity: 0.9;
}
/* SLIDER*/

