*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.container{
  width:900px;
  height:400px;
  background: #222;
  margin-top: 35px;
  margin-left: 170px;
}
.swiper{
  width:900px;
  height: 400px;
}
.swiper-slide img{
  width:900px;
  height:400px;
}